<div class="schedule_edit">予約内容を変更する</div>
<%= form_with model: @schedule, url: schedule_path, method: :put, local: true do |f| %>
<%= render partial: "hissu_form", locals: { f: f } %>
<%= render partial: "ninni_form", locals: { f: f } %>
<% end %>
