<h1>予約内容を変更する</h1>
<%= form_with model: @schedule, url: schedule_path, method: :put, local: true do |f| %>
<%= render partial: "hissu_form", locals: { f: f } %>
<%= render partial: "ninni_form", locals: { f: f } %>
<% end %>
<!-- カレンダー表示部 -->
<%= render partial: "calendar", locals: { schedules: @schedules, week_days: @week_days, teams: @teams,} %>